.hero{

    background-color:red ;

    width: calc(100vw - var(--nav-bar-width));
    margin: 100px 0;

    display: grid;

    justify-content: center;

    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    grid-gap: calc(var(--padding-between-elements));
}

.copy,
.flow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy{
    width: 240px;
    font-size: var(--title-headers-font-size);
    font-weight: var(--title-headers-weight-semi-bold);
}

.flow{
    width: 100%;
    height: 100%;
    min-height: 178px;
    position: relative;
    border-radius: var(--border-radius);
    background-image: 
        /* * este es el degradado base, sobre el cual se aplicara el filtro, el negro al 80% toma las partes oscuras y les pone luz, y el 0%  no pone luz sobre ninguna sombra*/
        linear-gradient(180deg, rgba(0, 0, 0, 0.8)  55%, rgba(0, 0, 0, 0.096) 85%);
    font-size: var(--title-headers-font-size);
    font-weight: var(--title-headers-weight-semi-bold);
}
.flow::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background-image: 
    linear-gradient(180deg, rgba(255, 255, 255, 0) 55%, rgba(0, 0, 0, 0.25) 80%), 
    linear-gradient(180deg, rgba(255, 255, 255, 0) 55%, rgba(0, 0, 0, 0.6) 90%), 
    linear-gradient(180deg, rgba(255, 255, 255, 0) 55%, rgba(0, 0, 0, 0.432) 100%), 
        /* * oscurece la parte inferior de la caratula, para al aplicarle el filtro lighten, lo tome como negativo  */
        url(https://e-cdns-images.dzcdn.net/images/cover/b3dd65f6ce5c6c32186bac6777471e6b/264x264-000000-80-0-0.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
}
.recommended{
    display: grid;
    grid-gap: var(--padding-between-elements);
}
.recommended article{
    height: 80px;
    background-color: var(--card-background);
    border-radius: var(--border-radius);

}



@media screen and (max-width: 1200px) and (min-width: 900px) {
    .recommended{
        display: grid;
        grid-gap: var(--padding-between-elements);
        grid-column: 2 / -1;
    }
    .flow{
        grid-column: span 2;
    }

}


@media screen and (max-width: 560px) {

    .hero{
        background-color:aqua ;
        width: 100vw;
        height: 375px;
        margin-top: 0;
        border-radius: 0;

    }
    .flow{
        border-radius: 0;
    }

    .flow::before{
        filter: contrast(80%)  brightness(80%) opacity(50%);
        border-radius: 0;
        

        /* filter: contrast(120%) , brightness(80%); */
    }

    .copy,
    .recommended{
        display: none;
    }
}

