.track{
    width: calc(100% - var(--nav-bar-width));
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 24px 2fr 1fr auto;
    grid-gap: calc(var(--padding-between-elements) * 2);
    justify-content: baseline;
    align-items: center;
    
    padding: var(--padding-between-elements);
    border-radius: var(--border-radius);
}
.track:hover{
    background-image: var(--hover-gradient);
}

.track_info{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 64px 1fr;
    grid-gap: calc(var(--padding-between-elements) * 2);
    justify-content: start;
    align-items: center;
}

.track_info img,
.track_info Image
{
    width: 64px;
    height: 64px;
    border-radius: var(--border-radius);
}



@media screen and (min-width: 660px) and (max-width: 860px){
    .album,
    .duration{
        font-size: var(--average-font-size);
        font-weight: var(--average-font-weight-medium);
    }
}
@media screen and (min-width: 560px) and (max-width: 660px){
    .album,
    .duration{
        display: none;
    }
    .track{
        grid-template-columns: 24px 2fr ;
    }
    
}
@media screen and (max-width: 560px) {

    .track{
        width: 100%;
        grid-template-columns: 1fr;
        
    }
    .action,
    .album,
    .duration{
        display: none;
    }

}
