.card_horizontal{
    display: flex;
    align-items: center;
}
.card_horizontal_image{
    width: 80px;
    height: 100%;
    border-radius: var(--border-radius);
    margin-right: var(--padding-between-elements);
}