.header {
    display: flex;
    align-items: baseline;
    margin-bottom: 40px;
}

.carrouselvertical {
    width: 100%;
    display: grid;
    grid-gap: calc(var(--padding-between-elements) * 0);
    /*     background-color: blue; */
}

.carrouselhorizontal {

    display: grid;
    width: 100%;

    grid-gap: calc(var(--padding-between-elements) * 1);
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-bottom: 40px;
}

.carrouselhorizontal:hover {
    /* width: 200px;
    transition: width 5s ease-in-out; */
}

.carrouselhorizontal::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: rgba(250, 244, 240, 0.01);
    backdrop-filter: blur(100px);
    opacity: 1;
}

.carrouselhorizontal:hover::-webkit-scrollbar {
    height: 48px;
}

.carrouselhorizontal::-webkit-scrollbar-thumb {
    background: var(--card-background);
    border-radius: var(--border-radius);
}

@media screen and (min-width: 560px) {
    .carrouselhorizontal {

    width: calc(100% - var(--nav-bar-width));

    }
}