
.carrouselvertical {
    width: var(--main-width);
    height: auto;
    display: grid;
    grid-gap: calc(var(--padding-between-sections) * 4);
    margin-bottom: 40px;
    margin-bottom: calc(var(--padding-between-sections) * 2);

}

.carrouselhorizontal {
    display: grid;
    width: var(--main-width);
    height: auto;
    margin-bottom: calc(var(--padding-between-sections) * 3);


    grid-gap: 0px;
    grid-auto-flow: column;
    grid-template-columns: repeat( 4,100vw);
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;

}
