
.header {
    display: flex;
    align-items: baseline;
    /* margin-bottom: 40px; */
}

.carrouselvertical {
    width: 100%;
    max-width: var(--main-width);

/*     background-color: red; */
    display: grid;
    grid-gap: calc(var(--padding-between-elements) * 0);
    overflow: hidden;
    scroll-snap-type: x mandatory;
}

.carrouselhorizontal {
    display: grid;
    width: var(--main-width);
/*     background-color:aqua ; */
    /* width: var(--main-width); */

    grid-gap: calc(var(--padding-between-elements) * 1);
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carrouselhorizontal:hover {
    /* width: 200px;
    transition: width 5s ease-in-out; */
}

.carrouselhorizontal::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: rgba(250, 244, 240, 0.01);
    backdrop-filter: blur(100px);
    opacity: 1;
    cursor: pointer;
}

.carrouselhorizontal:hover::-webkit-scrollbar {
    height: 48px;
}

.carrouselhorizontal::-webkit-scrollbar-thumb {
    background: var(--card-background);
    border-radius: var(--border-radius);
}

@media screen and (min-width: 560px) {
    .carrouselhorizontal {
        width: calc(var(--main-width) - var(--padding-between-elements)*3);
    }
}