.wrapper{
    padding: 0;
    margin-bottom: 3rem;
}
.header {
    width: 100%;
    max-width: calc(var(--main-width) - var(--wrapper-margin));

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.header_info{
    display: flex;
    align-items: baseline;
/*     background: red; */
}
.header div div{
    margin-right: 2.4rem;
}
.header span{
    margin-right: 0.4rem;
}
.card_hidden{
    display :none;
}
.carrouselvertical {
    width: 100%;
    max-width: calc(var(--main-width) - var(--wrapper-margin));

/*     background-color: red; */
    display: grid;
    grid-gap: calc(var(--padding-between-elements) * 0);
    overflow: hidden;
    scroll-snap-type: x mandatory;

    margin-bottom: 1rem;
}

.carrouselhorizontal {
    display: grid;
    width:  calc(var(--main-width) - var(--wrapper-margin));

/*     background-color:aqua ; */
    /* width: var(--main-width); */

    grid-gap: calc(var(--padding-between-elements) * 1);
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    margin-bottom: 1rem;

}

.carrouselhorizontal:hover {
    /* width: 200px;
    transition: width 5s ease-in-out; */
}

.carrouselhorizontal::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: rgba(250, 244, 240, 0.01);
    backdrop-filter: blur(100px);
    opacity: 1;
    cursor: pointer;
}

.carrouselhorizontal:hover::-webkit-scrollbar {
    height: 48px;
}

.carrouselhorizontal::-webkit-scrollbar-thumb {
    background: var(--card-background);
    border-radius: var(--border-radius);
}

@media screen and (min-width: 560px) {
    .carrouselhorizontal {
        width: calc(var(--main-width) - var(--padding-between-elements)*3);
    }
}